node_modules
dist
.DS_Store
*.tsbuildinfo
docs.html
docs_zh.html
crates/drummark-core/target/
crates/drummark-core/pkg/
crates/drummark-layout/target/
crates/drummark-layout/pkg/
src/wasm/layout-pkg/
